.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.navbar {
  z-index: 6;
  position: relative;
  padding: 10px 10px 15px 0;
  background: #444;
  margin-bottom: 15px;
}
.navbar .brand img {
    width: 125px;
    pointer-events: none;
}

.nav li{
  float: left;
}
.nav li a{
  color: #ccc;
  display: inline-block;
  padding: 8px 14px;
}
.nav li a:hover{
  color: #fff;
}

.tab a {
  padding: 5px 10px;
  margin-right: 15px;
  color: #80bd01;
  font-size: 14px;
}

.tab a:hover {
  opacity: .5;
}

.tab a.active {
  background: #80bd01;
  color: #fff;
  border-radius: 2px;
}

/* main */
.main{
  min-height: 400px;
}

/* panel */

.panel {
  margin-bottom: 15px;
}

.panel .head {
  background: #f6f6f6;
  padding: 15px;
}

/* topic-list */
.topic-list{
  position: relative;
}

.topic-item {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: 15px;
}

.topic-item:hover {
  background: #f6f6f6;
}

.user-avatar img {
  width: 30px;
  border-radius: 4px;
  vertical-align: middle;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: calc(100% - 260px);
  margin-left: 10px;
  vertical-align: middle;
}

.c-reply{
  color: #9e78c0;
}
.c-visit{
  color: #b4b4b4;
}
.c-time {
  color: #999;
}
.reply-count {
  display: inline-block;
  width: 90px;
  text-align: center;
}
/* topic-list end */

/* list */
.list{
  background: #fff;
}
.list .item{
  padding: 15px;
  border-top: 1px solid #e1e1e1;
}

/* list end */

/* paging */

.paging {
  background: #fff;
  padding: 15px 10px;
}

.tag {
  background: #e5e5e5;
  color: #999;
  font-size: 12px;
  border-radius: 2px;
  padding: 3px 6px;
  vertical-align: middle;
}

.tag.light {
  background: #80bd01;
  color: #fff;
}


/* acticle css start*/

.article {
  background: #fff;
}

.article-head {
  padding: 10px;
  padding-right: 100px;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
}
.full-title{
  font-size: 24px;
  font-weight: 600;
  vertical-align: middle;
}
.article-head .props {
  margin-top: 10px;
}

.article-head .props span {
  margin-right: 10px;
  color: #666;
}

.article-head .props span::before {
  content: " • ";
}
.article-head .collect{
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -20px;
}

/* 话题详情顶部，用户操作栏 编辑/删除 */
.user-control-bar{
  margin-top: 10px;
}
.user-control-bar i{
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.acticle-body {
  padding: 10px;
}

.acticle-body p {
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.acticle-body img {
  max-width: 100%;
}

/* acticle css end */

/* comment css satrt */

.reply-list {
  background: #fff;
}

.reply-item {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px;
}

.reply-item-head{
  position: relative;
  margin-bottom: 10px;
}

.reply-item-head .avatar-img img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 4px;
}

.reply-item-head .user-info span {
  margin-right: 10px;
}

.reply-item-body {
  padding-left: 45px;
}

.reply-area.hidden{
  visibility: hidden;
}

.user-action{
  position: absolute;
  right: 0;
  top: 6px;
  color: #999;
}
.reply-item .like{
  display: none;
}
.reply-item:hover .like{
  display: inline-block;
}
.reply-item .like.static{
  display: inline-block !important;
}

.user-action .like i{
  cursor: pointer;
  margin-right: 4px;
}
.user-action .reply{
  margin-left: 10px;
}
.user-action .reply i{
  cursor: pointer;
}
/* comment css end */

/* sidebar css start*/
.sidebar{
  width: 290px;
  float: right;
}
.sidebar .panel{
  background: #fff;
}
.sidebar .head {
  color: #51585c;
  border-radius: 3px 3px 0 0;
  padding: 12px 15px;
}
.sidebar .body{
  padding: 15px;
  background: #fff;
}
/* sidebar css end */

/* sidebar userbox */
.userbox .userhead {
  display: inline-block;
  vertical-align: middle;
}
.userbox .userhead img{
  width: 48px;
  height: 48px;
  border-radius: 4px;
}
.userbox .username{
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}
.userbox .userword{
  margin-top: 10px;
  color: #666;
}
/* sidebar userbox end */

/* userPanel */
.userPanel{
  padding: 15px;
  overflow: hidden;
}
.userHead{
  float: left;
}
.userHead img{
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
.userDetail{
  margin-left: 115px;
}
.userDetail p{
  margin-top: 10px;
  font-size: 14px;
}
svg.githubicon{
  color: #999;
  vertical-align: middle;
  fill: currentColor;
}
/* userPanel end */

/* loadingBar */
@keyframes movingSlow{
  0% {width: 1%;}
  3% {width: 10%;}
  20% {width: 10%;}
  22% {width: 13%;}
  30% {width: 13%;}
  32% {width: 45%;}
  68% {width: 60%;}
  79% {width: 60%;}
  81% {width: 80%;}
  100% {width: 80%;}
}
@keyframes movingFast{
  0% {width: 1%;opacity: 1}
  50% {opacity: 1;width: 103%;}
  100% {opacity: .3;width: 103%;}
}
.loading-bar{
  z-index: 99;
  position: fixed;
  height: 3px;
  left: 0;
  right: 0;
  top: 0;
  width: 0;
  background: #80bd01;
}
.loading-bar.active{
  animation: movingSlow 5s ease forwards;
  -webkit-animation: movingSlow 5s ease forwards;
}
.loading-bar.end,
.loading-bar.error{
  animation: initial;
  -webkit-animation: initial;
}

.loading-bar-fast{
    position: fixed;
    height: 3px;
    left: 0;
    right: 0;
    top: 0;
    width: 0;
}
.end .loading-bar-fast{
  background: #80bd01;
  animation: movingFast 600ms ease;
}
.error .loading-bar-fast{
  background: #ed3f14;
  animation: movingFast 600ms ease;
}
/* loadingBar end */

/* 返回顶部 */
.backTop{
  background: #fff;
  padding: 12px 14px;
  position: fixed;
  right: 80px;
  bottom: 80px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  color: #999;
}

/* media screen */
/* 大于 992 */
@media screen and (min-width:992px) {
  .main {
    margin-right: 305px;
  }
}
/* 小于 992 */
/* @media screen and (max-width:992px) {
  .sidebar{
    display: none;
  }
} */


/* 修复 */
body{padding-right: 0 !important;}
